<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>
</head>

<body>
    <th:block th:fragment="nav">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand m-4" th:href="@{/games}">Games's List</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                    </li>

                </ul>
                <form method="get" th:action="@{/games/searchByName}" class="d-flex my-2 my-lg-0 m-3">
                    <input class="form-control me-sm-2" name="title" type="text" placeholder="Find your game..." />
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div class="user-section d-flex">
                    <p class="logged-user">Logged user: <span sec:authentication="name"
                            class="fw-bold logged-user me-2"></span></p>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <p class="logged-user">Roles: <span sec:authentication="principal.authorities"
                                class="fw-bold me-2"></span></p>
                    </div>

                    <a class="btn btn-sm btn-light logout-link text-center mx-3" href="/logout">Sign out</a>
                </div>
        </nav>

    </th:block>
</body>

</html>