* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;

}


.select-wrapper {
    max-width: 300px;
    margin-bottom: 1rem;

}

.select-wrapper select {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #2c2c2c;
    color: #f0f0f0;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
}


.select-wrapper select:hover,
.select-wrapper select:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    outline: none;
}


.select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-left: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    transform: translateY(-50%) rotate(-45deg);
    pointer-events: none;
}

.select-wrapper select option {
    background-color: #2c2c2c;
    color: #f0f0f0;
    padding: 0.25rem 0.5rem;
}

.game-dev {
    list-style: none;
}

.filtersBy {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}


.filtersBy form {
    display: flex;
    flex-direction: column;
}

.filtersBy select {
    padding: 5px 10px;
    font-size: 14px;
}

.filtersBy button {
    margin-top: 8px;
}