<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>

</head>

<body>
    <header>
        <header th:replace="fragments/nav :: nav"></header>

    </header>
    <main class="container my-3">
        <h1 class="text-center">Adding a new Game</h1>
        <div class="row">
            <div class="col-12">
                <form th:action="@{/games/create}" th:object="${game}" method="post">
                    <div class="mb-3" th:if="${#fields.hasErrors()}">
                        <ul class="alert alert-danger ps-5">
                            <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label"></label>
                        <input type="text" class="form-control" name="title" id="title" th:field="*{title}"
                            aria-describedby="helpId" placeholder="Insert the title" />
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label"></label>
                        <input type="date" class="form-control" name="year" id="year" th:field="*{year}"
                            aria-describedby="helpId" placeholder="Insert the year" />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label"></label>
                        <input type="text" class="form-control" name="price" id="price" th:field="*{price}"
                            aria-describedby="helpId" placeholder="Insert the price" />
                    </div>
                    <div class="mb-3">
                        <label for="url" class="form-label"></label>
                        <input type="url" class="form-control" name="url" id="url" th:field="*{url}"
                            aria-describedby="helpId" placeholder="Insert the url" />
                    </div>
                    <div class="mb-3 select-wrapper">
                        <select th:field="*{dev}">
                            <option th:each="d : ${devs}" th:value="${d.id}" th:text="${d.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3 select-wrapper">
                        <select th:field="*{genre}">
                            <option th:each="g : ${genres}" th:value="${g.id}" th:text="${g.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="single-console form-check" th:each="console : ${consoles}">
                            <input type="checkbox" th:field="*{consoles}" th:id="|console-${console.id}|"
                                th:value="${console.id}">
                            <label th:for="|console-${console.id}|" class="form-check-label" th:text="${console.name}">
                        </div>
                    </div>
                    <div class="mb3 d-flex justify-content-between">
                        <input type="submit" class="btn btn-dark" value="Add a new Game">
                        <input type="reset" class="btn btn-warning" value="Reset all fields">
                    </div>
                </form>

            </div>
        </div>
    </main>

</body>

</html>