<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>

</head>

<body>
    <header th:replace="fragments/nav :: nav"></header>
    <main class="container-fluid">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Year of publication</th>
                        <th scope="col">Price</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Consoles</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="game: ${games}" th:object="${game}">
                        <td>[[*{id}]]</td>
                        <td>[[*{title}]]</td>
                        <td>[[*{year}]]</td>
                        <td>[[*{price}]]€</td>
                        <td>[[*{dev}]]</td>
                        <td>[[*{genre}]]</td>
                        <td>[[*{consolesAsString}]]</td>
                        <td><img th:src="*{url}" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</body>

</html>